@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.753);
}

header{
    width: 100%;
    height: 80px;
    background:  rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}
header.logo{
    width: 50%;
}
header.logo img{
    width: 140px;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s ease;
}
header .menu ul li a:hover{
    color: #08f0f0;
}

#home.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#univ{
    width: 100%;
    padding: 2px;
}
#home .container .icons{
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
}
#home .container .icons ion-icon{
    padding: 30px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
#home .container .icons ion-icon:hover{
    color: #08f0f0;
}
#home .container .tittle{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}
#home .container .tittle h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 8rem;
    letter-spacing: 5px;
}

#nuv{
    width: 70px;    
}
#home .container .tittle h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3rem;
    margin: 30px;
}
#home .container .tittle h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 20px;
    margin-top: 30px;
    margin-left: 35px;
}
#about .container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
#abou .container .tittle{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 60px;
}
#about .container .tittle h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
    padding-left: 6em;
    padding-top: 6em;
    
}
#about .container .tittle p{
    color: #fff;
    width: 500px;
    margin-top: 30px;
    margin-left: 12em;
}
#about .container .box-tittle{
    width: 420px;
    height: 30vh;
    margin-top: 20px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 black;
    margin-left: 200px;
    border-radius: 20px;
}
#about .container .box-tittle span{
    color: #fff;
}

#about .container .box-tittle p{
    margin-right: 500px;
}
#about .container .box-tittle .b1{
    width: 400px;
    height: 8px;
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
}
#about .container .box-tittle .b2{
    width: 350px;
    height: 8px;
    background: #08f0f0;
    border-radius: 5px;
}
#about .container .box-tittle .b3{
    width: 300px;
    height: 8px;
    background: #08f0f0;
    border-radius: 5px;
}
#about .container .box-tittle .b4{
    width: 100px;
    height: 8px;
    background: #08f0f0;
    border-radius: 5px;
}
#about .container .box-tittle .b5{
    width: 100px;
    height: 8px;
    background: #08f0f0;
    border-radius: 5px;
}
#port .container{
    width: 100%;
    height: 100vh;
    background: url();
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#port .container input[type=radio]{
    display: none;
}
#port .container .card{
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 150px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px 0 black;
    transition: 0.4s ease;
    border-radius: 10px;
    cursor: pointer;

}
#port .container .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#port .container .card h1{
    position: absolute;
    z-index: 9;
    color: #ffff;
    font-size: 6rem;
    margin-top: 60px;
}
#port .container .card p{
    position: absolute;
    z-index: 9;
    width: 400px;
    color: #ffff;
    margin-top: 200px;
    text-align: justify;
}
#port .container .card button{
    position: absolute;
    z-index: 9;
    margin-top: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: rgba(21,111,195,0.5);
    text-transform: uppercase;
    cursor: pointer;
}
#port .container .cards{
    position: relative;
    width: 100%;
    height: 100%;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-40%); scale: 0.8;
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(40%); scale: 0.8;
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0); scale: 1;
    opacity: 1;
    z-index: 1;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: url();
    background-size: cover;
}
#contact .container .content-contact{
    width:80%;
    height: 60vh;
    margin: 0 auto;
    padding: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#contact .content-contact .contact-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
#contact .content-contact .contact-left h1{
    font-size: 2rem;
    text-transform: uppercase;
}
#contact .content-contact .linha{
    width: 350px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact .content-contact .contact-left ion-icon{
    font-size: 2rem;
    padding: 20px 0;
}
#contact .content-contact .contact-left span{
    font-size: 1.2em;
    padding: 5px 0;
}
#contact .content-contact .contact-right{
    width: 50%;
    margin-left: 7em;
    display: flex;
    flex-direction: column;
    color:#ffff
}
#contact .content-contact .contact-right input[type=email],
#contact .content-contact .contact-right input[type=text]{
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
}
#contact .content-contact .contact-right textarea{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
    padding: 15px 20px;
}
footer{
    width: 100%;
    height: 80px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    background: var;
    background-color: rgba(0, 0, 0, 0.466);
    position: relative;
}
footer a{
    color: #08f0f0;
    letter-spacing: 2px;
}
footer a:hover{
    color: gray;
    letter-spacing: 2px;
}


